# General
PORT='your_port_number'
NODE_ENV='development' # or 'production' for production environment

# Database
DB_USER=user_name
DB_PASSWORD=your_password
DB_NAME=db_name
DATABASE_URL=postgres://user:password@localhost:5432/gamelib

# Security
JWT_SECRET='your_super_secret_key_for_tokens'

# External APIs
STEAM_API_KEY='your_steam_api_key'
IGDB_CLIENT_ID='your_twitch_client_id'
IGDB_CLIENT_SECRET='your_twitch_client_secret'
STEAMGRIDDB_API_KEY='your_steamgriddb_key'